<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="GitRepoName" value="E:\Repo\GIT\GITLearning"></add>
    <!--<add key="GitRepoName" value="E:\Repo\GIT\TFSAssist"></add>-->
    <!--https://github.com/PrithviPalSingh/GITLearning/settings-->
    <add key="IsOriginator" value="true"/>
  </appSettings>
</configuration>